Mapa {
    font: 12px sans-serif;
  }
  
  path {
    stroke-width: 1px;
    stroke: white;
    fill: #00aaff;
    cursor: pointer;
  }
  
  path:hover, path.highlighted {
    fill: #ff0004;
  }
  
  div.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: 4px 8px;
    display: none;
  }
  